.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.copyright {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  width: 282px;
  height: 14px;
  top: 2762px;
  left: 19px;
  gap: 0px;
  opacity: 0px;
  color: #545454;
}
